/* App.css */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

.App-header {
  color: white;
}

.users-button {
  font-size: 18px;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
}
